html {
	--background_color: #0284C7;
    --text_color: #075985;
    --offset: 18px;
}


body {
	font-family: 'Open Sans', sans-serif;
    
}

* {
    box-sizing: border-box;
   
}

a{
    text-decoration: none;
    border: none;
    }


.header {
    position: relative;
    width: 1920px;
    height: 60px;
    background: var(--background_color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin: auto;

}

.navigaton {
    width: 1180px;
    margin: auto;

}

.navigation_items {
    position: absolute;
    width: 180px;
    height: 48px;
    top: 10px;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 35px;
    text-align: center;
    color: #FFFFFF;

}

.navigaton2 {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    max-width: 1180px;
    height: 48px;
    width: 100%;
    margin: auto;
    
}

.navigation_items2 {
    top: 10px;
    font-weight: 600;
    font-size: 22px;
    line-height: 35px;
    text-align: center;
    color: #FFFFFF;
    padding-left: 45px;
    
}

.hero {
    height: 537px;
    width: 1920px;
    background-image: url(images/hero.png);
    margin: auto;
    display: block;
            	   
}

.inner-container {
    max-width: 1180px;
    margin: auto;
    display: block;
    
}

.hero-title {
    max-width: calc(1180px / 12 * 6 );
    padding-top: 140px;
    font-weight: 700;
    font-size: 56px;
    line-height: 59px;
    color: #262626;

}

.color {
    color: #0284C7;

}

.hero-text {
    max-width: calc(1180px / 12 * 6 );
    font-weight: 400;
    font-size: 16px;
    color: #0C4A6E;
    padding-top: 50px;
    line-height: 18px;

}

.button_large {
    position: absolute;
    width: 243px;
    height: 52px;
    top: 473px;
    background: #0EA5E9;
    border: 1px solid #0EA5E9;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;           
    font-weight: 700;
    font-size: 18px;
    text-align: center;
    color: #F0F9FF;
    
}

.button_large:hover {
    background-color: #0369a1;
    border: 1px solid #0369a1;
}

.inner-container2 {
    width: 1920px;
    height: 195px;
    margin: auto;
    
}

.services-title {
    font-weight: 700;
    font-size: 40px;
    line-height: 54px;
    text-align: center;
    color: #0369A1;
    width: 1920px;
    padding-top: 70px;
      
}

.rectangle_blue {
    width: 1920px;
    height: 285px;
    margin: auto;
    background: var(--background_color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}

.restangle {
    width: 1180px;
    height: 285px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
}

.rectangle10 {
    width: calc(1180px / 12 * 3 - var(--offset));
    height: 183px;
    background: linear-gradient(90deg, rgba(69, 152, 199, 0.57) 16.34%, rgba(4, 4, 4, 0) 96.21%, rgba(0, 0, 0, 0) 96.21%, rgba(0, 0, 0, 0) 96.21%), url(images/service-3.png);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 20px;

}

.rectangle11 {
    width: calc(1180px / 12 * 3 - var(--offset));
    height: 183px;
    background: linear-gradient(90deg, rgba(69, 152, 199, 0.57) 20.34%, rgba(69, 152, 199, 0.57) 20.34%, rgba(92, 89, 118, 0) 96.57%, rgba(0, 0, 0, 0) 96.57%), url(images/service-2.png);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 20px;

}

.rectangle12 {
    width: calc(1180px / 12 * 3 - var(--offset));
    height: 183px;
    background: linear-gradient(90deg, rgba(69, 152, 199, 0.57) 19.08%, rgba(0, 0, 0, 0) 93.86%), url(images/service-1.png);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 20px;

}

.text_restangle {
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: #F0F9FF;
    width: calc(1180px / 12 * 1.8);
    padding-left: 15px;
    padding-top: 90px;

}

.text_restangle1 {
    font-family: 'Playfair Display';
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    color: #FFFFFF;
    padding-left: 15px;

}


.background-1 {
    display: block;
    height: 668px;
    width: 1920px;
    background-image: url(images/background-1.png);
    margin: auto;
                
}

.about {
    width: 1180px;
    height: 668px;
    margin: auto;
    
}

.about_clinic {
    padding-top: 46px;
    font-weight: 700;
    font-size: 40px;
    line-height: 54px;
    text-align: center;
    color: #0C4A6E;

}

.clinic-text {
    padding-top: 46px;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    text-align: justify;
    color: #171717;
    
}

.button_large2 {
    width: calc(1180px / 12 * 2.5);
    height: 52px;
    background: #0EA5E9;
    margin-left: calc(1180px - (1180px / 12 * 2.5));
    border: 1px solid #0EA5E9;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    font-weight: 700;
    font-size: 18px;
    color: #F0F9FF;
    margin-top: 45px;

}

.button_large2:hover {
    background-color: #0369a1;
    border: 1px solid #0369a1;
}

.review {
    width: 1180px;
    height: 820px;
    margin: auto;
           
}

.reviews {
    padding-top: 130px;
    padding-bottom: 90px;
    font-weight: 700;
    font-size: 40px;
    margin: auto;
    text-align: center;
    line-height: 54px;
    color: #0369A1;

}

.restangles {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
   
}

.rectangle2 {
    width: calc(1180px / 12 * 6 - var(--offset));
    height: 173px;
    margin-bottom: 50px;
    background: #FFFFFF;
    border: 1px solid #E5E5E5;
    border-radius: 20px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.10);
    display: flex;

}

.name {
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    color: #0284C7;
    margin-left: 140px;
    margin-top: 18px;
    display: flex;
    width: 102px;
    height: 106px;
    margin-left: 26px;
    margin-top: 24px;
    margin-right: 10px;
            
}

.h1 {
    margin-left: 15px;
}

.reviews-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #737373;
    width: calc(1180px / 12 * 4.2 - var(--offset));
    margin-top: 60px;
    margin-left: 10px;
    
}


.background-2 {
    height: 507px;
    width: 1920px;
    background-image: linear-gradient(0deg, rgba(240, 249, 255, 0.8), rgba(240, 249, 255, 0.8)), url(images/map-background.png);
    margin: auto;
        
}

.departments {
    width: 1180px;
    height: 668px;
    margin: auto;
        
}

.branches {
    padding-top: 55px;
    font-weight: 700;
    font-size: 40px;
    line-height: 54px;
    text-align: center;
    color: #0369A1;
   
}

.department {
    width: 1180px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}



.rectangle6 {
    width: calc(1180px / 12 * 4 - var(--offset));
    height: 297px;
    background: #FFFFFF;
    border: 1px solid #0284C7;
    box-sizing: border-box;
    box-shadow: 0px 2px 4px rgba(115, 115, 115, 0.25);
    border-radius: 25px;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: #075985;
    margin-top: 50px;
    padding-top: 30px;
    padding-left: 50px;
       
}

.span1 {
    font-weight: 600;
    font-size: 20px;
    
}

.padding {
    padding-top: 30px;
    

}

.padding1 {
    padding-top: 50px;
    

}

.contacts {
    width: 1920px;
    height: 403px;
    background: #F0F9FF;

}

.contacts1 {
    width: 1180px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    
}

.text1 {
    width: calc(1180px / 12 * 5);
    padding-top: 55px;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: var(--text_color);

}

.text3 {
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    color: var(--text_color);

}

.span {
    font-size: 24px;
    color: #0284c7;

}

.main_contacts {
    width: 1180px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 50px;
    align-items: flex-start;

}

.contacts2 {
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: var(--text_color);
    
}

.text_vert {
    width: 1180px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    padding-top: 45px;
    justify-content: flex-end;

}

.text2 {
    font-weight: 400;
    font-size: 17px;
    line-height: 23px;
    color: var(--text_color);
        
}

.vert {
    border-left: 2px solid #075985;
    padding: 3px;
}

@media (max-width: 600px) {
    .header {
        width: 600px;
        
    }
    
    .navigaton {
        width: 600px;
    
    }
    
    .navigation_items {
       font-size: 0px;
            
    }
    
    .navigaton2 {
        max-width: 200px;
        align-items: flex-end;
        justify-content: center;
                
    }
    
    .navigation_items2 {
        font-size: 14px;
                
    }

    .hero {
        width: 600px;
                                       
    }
    
    .inner-container {
        max-width: 600px;
                
    }
    
    .hero-title {
        max-width: calc(1180px / 12 * 4 );
        padding-left: 10px;
        font-size: 40px;
        line-height: 45px;
            
    }
            
    .hero-text {
        max-width: calc(1180px / 12 * 4 );
        padding-left: 10px;
            
    }
    
    .button_large {
        margin-left: 10px;
    }
        
    .inner-container2 {
        width: 600px;
                
    }
    
    .services-title {
        width: 600px;
                  
    }
    
    .rectangle_blue {
        width: 600px;
       
    }
    
    .restangle {
        width: 600px;
        margin: auto;
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        
    }

    .background-1 {
        width: 600px;
                            
    }
    
    .about {
        width: 600px;
                
    }
    
    .clinic-text {
        padding-left: 10px;
        padding-right: 10px;
        font-size: 18px;
               
    }
    
    .button_large2 {
        margin-left: calc(1180px - (1180px / 12 * 8.5));
        margin-top: 5px;
    
    }

    .review {
        width: 600px;
        padding-left: 10px;
        height: 1100px;
               
    }
    
    .reviews {
        padding-bottom: 60px;
            
    }
            
    .rectangle2 {
        margin-bottom: 30px;

    }

    .background-2 {
        width: 600px;
        height: 1150px;
                    
    }
    
    .departments {
        width: 600px;
                    
    }
           
    .department {
        width: 600px;
        margin: auto;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    
    }
          
    .rectangle6 {
        margin-top: 30px;
             
    }

    .contacts {
        width: 600px;
        height: 600px;
            
    }
    
    .contacts1 {
        width: 600px;
        flex-wrap: nowrap;
                
    }
    
    .text1 {
        width: calc(1180px / 12 * 4);
        padding-left: 10px;
        padding-right: 15px;
            
    }
                 
    .main_contacts {
        width: 600px;
        flex-direction: column;
        align-items: center;
            
    }
    
    .contacts2 {
        padding-bottom: 25px;
              
    }
    
    .text_vert {
        width: 600px;
        padding-right: 15px;
           
    }
    
    
    
    
    
   
    
  

    
    
    
       




















}